@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

.portfolio-container {
  max-width: 83.3%;
}

.portfolio {
  @include flex(center, center, column);
}

.up-part,
.down-part {
  @include flex(center, center);
  gap: 100px;
  margin-bottom: 50px;
  height: auto;
  @include m {
    flex-direction: column;
  }

  .down-part {
    display: none;
  }

  @include s {
    margin-bottom: 20px;
    gap: 30px;
  }
}

.portfolio-item-1,
.portfolio-item-2,
.portfolio-item-3,
.portfolio-item-4 {
  max-width: 700px;
  background-color: #f1f1f1;
  border-radius: 30px;
  position: relative;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);

  @include s {
    border-radius: 0;
    min-width: 200px;
    .item-content {
      padding: 0;
    }
  }
}

.portfolio-item-2,
.portfolio-item-4 {
  .item-content {
    padding: 20px 20px 0 0;
    @include s {
      padding: 0;
    }
  }
}
.item-description {
  @include flex(center, center);
  p {
    font-weight: 300;
    max-width: 250px;
    text-align: justify;
    padding: 5px;
  }
  @include s {
    p {
      display: none;
    }
  }
}

.coming {
  position: absolute;
  font-size: 200px;
  color: #1e1a2d;
  top: 24%;
  right: 1%;
  z-index: 15;
  width: 700px;
  font-family: "Wire One";
  @include s {
    font-size: 100px;
    width: auto;
  }
}

.item-content {
  @include flex(center, center, column);
  gap: 20px;
  padding: 20px 0 0 20px;
  padding-top: 20px;
}

.item-pic {
  width: 350px;
  height: 280px;
  background-color: #1e1a2d;
  img {
    width: 100%;
    height: 100%;
  }

  @include s {
    width: 100%;
  }
}

.port-item-title {
  font-size: 25px;
}
