@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

.home {
  background-image: url("../../images/IMG_2991\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  @include flex(center, center);
  @include s {
    height: 100vh;
  }
}

.home-content {
  max-width: 1260px;
  padding: 30px;
  @include flex(flex-start, center);
  width: 100%;
  @include s {
    justify-content: center;
  }
}

.upper-part {
  @include flex(center, center);
  height: 100%;
  margin-bottom: 5px;
  @include s {
    flex-direction: column;
  }
}

.social {
  @include flex(center, center, column);
  gap: 28px;
  height: 100%;
  @include s {
    display: none;
  }
}

.icon img {
  max-width: 30px;
  max-height: 30px;
}

.name {
  font-size: 90px;
  line-height: 100px;
  @include s {
    font-size: 50px;
    line-height: normal;
  }
}

.professions {
  font-size: 26px;
  @include s {
    font-size: 18px;
  }
}

.buttons {
  @include flex(space-between, center);
  gap: 18px;
  @include s {
    flex-direction: column;
    gap: 5px;
  }
}

.download,
.contacts {
  width: 270px;
  padding: 17px 34px;
  font-size: 30px;
  @include s {
    font-size: 13px;
    padding: 5px 15px;
  }
}

.download {
  background-color: #1e1a2d;
  color: white;
  border: none;
}

.contacts {
  background-color: transparent;
  border: 1px solid black;
}
