@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

.skills {
  background-color: #f1f1f1;
  @include s {
    padding-top: 0;
  }
}

.hard {
  max-width: 600px;
  @include flex(center, center, column);
}

.hard-title {
  font-family: "Wire One";
  font-size: 45px;
}

.skills-content {
  @include flex(center, center, column);
  gap: 50px;
}

.first-part {
  @include flex(center, center);
  gap: 50px;
  @include m {
    flex-direction: column;
  }
}
