@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

.about {
  background-color: white;
  @include flex(center, center, column);
  position: relative;
}

.about-content {
  max-width: 1260px;
  padding: 100px 60px;
  background-color: #f1f1f1;
  @include flex(center, center);
  gap: 50px;
  border-radius: 30px;
  @include s {
    flex-direction: column;
    padding: 30px;
    margin-bottom: 20px;
  }
}

.avatar-section {
  @include flex(center, center);
  max-width: 860px;
  font-size: 45px;
}

.right {
  @include flex(center, center, column);
  gap: 20px;
}

.right1,
.right2,
.right3 {
  width: 200px;
  height: 200px;
  background-color: #f1f1f1;
  border: 2px solid black;
}

.about-text {
  max-width: 860px;
  font-size: 30px;
  @include s {
    font-size: 18px;
  }
}
