@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

.navbar {
  padding: 75px 20px;
  background-color: #1e1a2d;
  @include flex(center, center);
  border-radius: 30px 0 0 30px;
  font-size: 15px;
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -160px;
  z-index: 5;
  @include s {
    display: none;
  }
}

.nav-content {
  @include flex(center, start);
  flex-direction: column;
  width: auto;
  gap: 15px;
}

.nav-link {
  @include flex(center, center);
  gap: 15px;
  color: white;
  text-align: start;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: white;
  visibility: hidden;
}

.nav-active {
  .dot {
    visibility: visible;
  }
}
